---
import "../style/style.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import GlowBtn from "../components/GlowBtn.astro";
import Dropdown from "../components/Dropdown.astro";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=poppins"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
  </head>
  <body>
    <Nav />
    <main>
      <div class="blur-box">
        <div class="blur-content">
          <h1>FAQ</h1>
          <p>
            Copenhagen Light Festival is an annual light festival that
            transforms the quiet and cold winter darkness into a unique
            celebration of light art, lighting design and illumination in the
            center of Copenhagen. In three weeks of February the festival
            presents a wide range of light based works – such as sculpture,
            installation, projection mapping, event and illumination created by
            both established and upcoming light artists, lighting designers,
            students and organizations. With a tailored light program selected
            by a curatorial committee, the festival exhibits, accentuates and
            interprets the city’s different spaces, squares, facades, bridges
            and hidden places in a new and engaging way.The Festival invites
            both international and local audiences of all ages to enjoy the city
            during the darkest and even the coldest time of the year.
          </p>
        </div>
      </div>

      <Dropdown />
    </main>
    <Footer />
  </body>
</html>
