---
<<<<<<< HEAD
import "../style/style.css"
---
=======
import ImgCarousel from "../components/ImgCarousel.astro"
import Nav from "../components/Nav.astro";
import "../style/style.css"
---

>>>>>>> forside
<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD

    <title>Document</title>
=======
    <title>Forside</title>
>>>>>>> forside
  </head>
  <body>

 <Nav/>  
 
<ImgCarousel />

  </body>
</html>
