---
import ImgCarousel from "../components/ImgCarousel.astro"
import Nav from "../components/Nav.astro";
import "../style/style.css"
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forside</title>
  </head>
  
  <body>

 <Nav/>  
 
<ImgCarousel />

  </body>
</html>
