---
import "../style/style.css";
import Card from "../components/Card.astro";

const data = await fetch(
  "https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0",
    },
  }
).then((res) => res.json());
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listeview</title>
  </head>
  <body>
    <!-- Kode til glow-knapper -->
    <!-- <a href="#" class="button glow-button">Glow Button</a> -->
    <header></header>
    <main>
      <section class="grid-container">
        {
          data.map((show) => {
            return <Card data={show} />;
          })
        }
      </section>
    </main>
  </body>
</html>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  /* CSS for the card container */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
  }

  body {
    margin-left: 0%;
    padding: 0%;
  }
</style>

<!-- <script>
  // Definér URL til API-endepunktet med select-parameteren
  const url =
    "https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf?select=titel,image,id,intro";

  // Definér API-nøgle
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0";
  // Udfør en GET-anmodning til API-endepunktet med API-nøglen som en header
  fetch(
    "https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf?select=titel,image,id,intro",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0",
      },
    }
  )
    .then((res) => res.json())
    .then((data) => showProducts(data));

  // Vis produkterne i consol
  function showProducts(products) {
    // Looper og  kald showProduct for hver
    products.forEach(showProduct);
  }

  function showProduct(product) {
    console.table(product);
    // fang template
    const template = document.querySelector("#smallProductTemplate").content;
    // lav en kopi
    const copy = template.cloneNode(true);

    // ændre indhold
    copy.querySelector(".navn").textContent = product.titel;
    copy.querySelector(".text").textContent = product.intro;
    copy.querySelector(".kort-billede").src = product.image;
    copy
      .querySelector("a")
      .setAttribute("href", `/singleview?id=${product.id}`);

    // appende -   // Tilføj kopien til DOM'en
    document.querySelector(".grid-container").appendChild(copy);
  }
</script> -->
