---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../style/style.css";
import Card from "../components/Card.astro";

const data = await fetch(
  "https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0",
    },
  }
).then((res) => res.json());
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=poppins"
      rel="stylesheet"
    />
    <title>Listeview</title>
  </head>
  <body>
<<<<<<< HEAD
    <!-- Kode til glow-knapper -->
    <!-- <a href="#" class="button glow-button">Glow Button</a> -->
    <header></header>
    <main>
      <section class="grid-container">
        {
          data.map((show) => {
            return <Card data={show} />;
          })
        }
      </section>
=======
    <Nav />

    <main>
      <div class="grid-container">
        <template id="smallProductTemplate">
          <div class="card">
            <img
              class="kort-billede"
              src="https://copenhagenlightfestival.org/wp-content/uploads/2023/02/Riff-Raff-Reff.jpg"
              alt=""
            />
            <h2 class="navn">RIFF RAFF REF</h2>
            <p class="text">
              Arthur van der Zaag's unique lighting event with Light Creatures
              on Refshaleøen, plus "Dancing on Water
            </p>
            <button> <a href="/singleview">Read more</a></button>

            <ol></ol>
          </div>
        </template>
      </div>

      <Footer />
>>>>>>> engelsk
    </main>
  </body>
</html>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  /* CSS for the card container */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
  }

  body {
    margin-left: 0%;
    padding: 0%;
  }
</style>
