---
import "../style/style.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Map from "../components/Map.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=poppins"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maps</title>
  </head>
  <body>
    <Nav />

    <div class="blur-box">
      <div class="blur-content">
        <h1>Kort</h1>
        <p>
          Jeg har brug for tekst så jeg skriver en sang: Solen er rød, natten er
          blå, jeg står på stylter, og kan ikke spå. Min nabo larmer dag og nat,
          jeg råber at jeg hader deres kat. En tur udenfor er det bedste jeg
          ved, katten løber rundt, skal den lige køres ned? Gåturen blev til
          løb, politiet finder mig ikke, nu leder naboen efter katten, råber
          "hvor er Rikke?"
        </p>
      </div>
    </div>

    <Map />

    <Footer />
  </body>
</html>
