---
import "../style/style.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Kode til glow-knapper -->
    <a href="#" class="button glow-button">Glow Button</a>

    <main>
      <figure class="billede">
        <img
          src="https://copenhagenlightfestival.org/wp-content/uploads/2023/02/Riff-Raff-Reff.jpg"
          alt=""
        />
      </figure>

      <section class="container">
        <div class="description">
          <h1>RIFF RAFF REF</h1>
          <p class="tekst">
            Riff Raff Ref is a unique lighting event in the intersection between
            lighting design and performance. Lighting designer Arthur van der
            Zaag stages an abandoned area at Refshaleøen with light and new
            installations. The area can be explored freely – but beware of the
            Light Creatures moving in the dark. These glowing objects have taken
            strange and proud human forms. While hard to miss, they are
            difficult to capture on camera. Arthur van der Zaag also
            participates at this year’s light festival with the light
            installation, “Dancing on Water”. Arthur van der Zaag is an artist
            and a lighting and sound designer. He participated in Copenhagen
            Light Festival 2021 with the installation “Car Park Holiday”, in
            2020 with the installation “Take a Look Inside” and in 2019 with the
            installation “Windows of Light”. Idea and concept: Arthur van der
            Zaag Performers: Olga Randløv-Decitre, Arthur Zahle Costumes: Rose
            Waade Light Crew: Antti Heika, Daniel Thiesen, Doga Gurle, Zoltán
            Tasnádi Graphics: Nepheli Poulaki
          </p>
        </div>
        <div class="info">
          <h2><br />WHO</h2>

          <p class="who">
            Copenhagen Lighting Studio / Arthur van der Zaag (NL/DK)
          </p>
          <h2><br />WHERE</h2>

          <p class="where">Refshalevej 173 (in the green area)</p>
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
  }

  .billede {
    height: 500px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
    padding: 0;
  }

  img {
    height: 500px;
    width: 900px;
  }

  .description {
    padding: 10px;
    text-align: justify;
    width: 470px;
  }

  .info {
    text-align: justify;
    background-color: #3f4f79;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    padding-top: 0%;
    color: white;
    height: 302px;
    width: 375px;
  }

  .info p {
    text-align: justify;
    margin: 0%;
    padding: 10px;
  }
  .tekst {
    text-align: justify;
    margin: 0%;
    padding: 10px;
    line-height: 1.5;
  }
  .info h2 {
    text-align: justify;
    margin: 0%;
    padding: 5px;
  }
  @media screen and (max-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
    img {
      height: 200px;
      width: 400px;
    }
    .billede {
      height: 200px;
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Center horizontally */
      padding: 0;
    }

    .description {
      display: grid;
      justify-content: center;
      padding: 10px;
      text-align: justify;
      width: 365px;
      grid-template-columns: 1fr;
    }
    .description h1 {
      display: flex;
      justify-content: center;
    }

    .info {
      text-align: justify;
      background-color: #3f4f79;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 7px;
      padding: 10px;
      padding-top: 0%;
      color: white;
      height: 285px;
      width: 350px;
    }

    .info p {
      text-align: justify;
      margin: 0%;
      padding: 3px;
    }
    .tekst {
      text-align: justify;
      margin: 0%;
      padding: 10px;
      line-height: 1.5;
      display: flex;
      justify-content: center;
    }
    .info h2 {
      text-align: justify;
      margin: 0%;
      padding: 5px;
    }
  }
</style>

<!-- <script>
  // Analyser querystring-parametre fra URL'en for at hente "id"-værdien.
  const urlParams = new URLSearchParams(window.location.search);
  const id = urlParams.get("id");

  // Definér URL til API-endepunktet med select-parameteren
  const url = "https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf";

  // Definér API-nøgle
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0";
  // Udfør en GET-anmodning til API-endepunktet med API-nøglen som en header
  fetch(
    `https://jszlkwoagoveednauwsf.supabase.co/rest/v1/cph_lf?id=eq.${id}`,

    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impzemxrd29hZ292ZWVkbmF1d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM5MDIzOTcsImV4cCI6MjAwOTQ3ODM5N30.sGTpEXzcNBQo-quSAoZl_aTwHVa1YCVeSl5jBzohEy0",
      },
    }
  )
    .then((res) => res.json())
    .then((data) => showProduct(data));

  function showProduct(product) {
    console.table("product", product);
    // jeg looper array'en -
    // Vi bruger en `.forEach`-loop til at arbejde med hvert produkt
    // i svaret og kalder funktionen
    // build` for hvert produkt.
    // product.forEach(build);
    product.forEach(build);
  }
  function build(products) {
    console.table(products);
    document.querySelector("img").src = products.image;
    document.querySelector("h1").textContent = products.titel;
    document.querySelector(".tekst").textContent = products.description;
    document.querySelector(".who").textContent = products.who;
    document.querySelector(".where").textContent = products.where;
  }
</script> -->
