@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Regular.ttf") format("truetype");
}

body {
  background-image: url("/img/Baggrund2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h3,
h4,
p {
  color: #e1e2e6;
  font-family: "Poppins", sans-serif;
}
h2 {
  padding-top: 25px;
  padding-left: 25px;
  color: #e1e2e6;
}
h4 {
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.blur-box {
  line-height: 1.5;
  margin: 0;
  text-align: center;
  background-color: hsla(0, 0%, 85%, 0.3);
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* mobile */
@media (max-width: 700px) {
  main {
    padding-top: 150px;
  }
}
/* Desktop version */
@media (min-width: 700px) {
  footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2cqw;
  }
  footer p {
    line-height: 3;
    padding-bottom: 35px;
  }
  footer h3 {
    font-size: 28px;
    margin-top: 0;
  }
  footer h4 {
    padding-top: 0;
    margin-top: 0;
  }
  .footer {
    font-size: 28px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 0;
  }
  .blur-content {
    margin-left: 10cqw;
    margin-right: 10cqw;
  }

  /* Billede karrusel */
  .splide__slide img {
    width: 100%;
    height: auto;
  }
  main {
    z-index: -3;
  }
}
