<div class="container-box">
    <h2>Overskrift her</h2>
    <!-- Kode til FAQ dropdown -->
    <div class="container">
    <button type="button" class="collapsible">Open 1<span class="icon"></span></button>
    <div class="content">
      <p>Lad os skrive noget spændende her</p>
    </div>
    <button type="button" class="collapsible">Open 2<span class="icon"></span></button>
    <div class="content">
      <p>Og så noget semi spændende her</p>
    </div>
    </div>
    <h2>Overskrift her også</h2>
    <div class="container">
    <button type="button" class="collapsible">Open 3<span class="icon"></span></button>
    <div class="content">
      <p>Her kan der stå noget om parkering eller transport</p>
    </div>
    <button type="button" class="collapsible">Open 4<span class="icon"></span></button>
    <div class="content">
      <p>Og her kan vi skrive noget nedern for folk læser ikke hertil.</p><p>Nu skal vi lige finde på noget Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium maxime, similique rerum molestias odio qui architecto laudantium eligendi fugit expedita minus nobis consequuntur laboriosam voluptatum magnam ad esse, odit quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error consequuntur corrupti molestiae odio non fugit amet, sed tenetur veniam perferendis quae sapiente obcaecati nam? Facilis at excepturi vero odit! Similique. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ullam est excepturi, enim voluptatum voluptas doloribus incidunt, voluptate autem voluptatibus debitis exercitationem ratione molestiae, dolore veniam commodi earum aperiam soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    </div>
    <h2>Overskrift her igen</h2>
    <div class="container">
    <button type="button" class="collapsible">Open 5<span class="icon"></span></button>
    <div class="content">
      <p>Nu kom der en 5´er lige pludselig</p>
    </div>
    <button type="button" class="collapsible">Open 6<span class="icon"></span></button>
    <div class="content">
      <p>Og her kan vi skrive noget nedern for folk læser ikke hertil.</p><p>Nu skal vi lige finde på noget Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium maxime, similique rerum molestias odio qui architecto laudantium eligendi fugit expedita minus nobis consequuntur laboriosam voluptatum magnam ad esse, odit quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error consequuntur corrupti molestiae odio non fugit amet, sed tenetur veniam perferendis quae sapiente obcaecati nam? Facilis at excepturi vero odit! Similique. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ullam est excepturi, enim voluptatum voluptas doloribus incidunt, voluptate autem voluptatibus debitis exercitationem ratione molestiae, dolore veniam commodi earum aperiam soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    </div>
</div>

<style>
    .container-box {
        background-color: #3B507C;
    margin: 10cqw;
    padding-top: 6px;
    padding-bottom: 6px;
    
    }
    .collapsible .icon::before {
      content: "+";
      display: inline-block;
      margin-right: 10px;
    }
    
    .collapsible.active .icon::before {
      content: "-";  
      margin-right: 10px;
    }
    .container {
        padding: 20px;
    }
        /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        display: flex;
    justify-content: space-between;
        background-color: #3B507C;
      color: #E1E2E6;
      cursor: pointer;
      padding: 18px;
      margin-top: 4px;
      margin-bottom: 4px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 20px;
      transition: background-color 0.3s ease-in-out;
      border: solid 1px #000000;
    }
    .collapsible:hover, .active {
    color: #ffffff;
      animation-name: glow;
      animation-iteration-count: infinite;
      box-shadow: 0 0 15px rgb(51, 129, 212);
      text-shadow: 0 0 5px #f0f0f0;
      background-color: rgba(51, 129, 212, 0.5);
      transition: background-color 0.15s ease-in-out;
    }
    .content {
    max-height: 0;
      padding: 0 18px;
      overflow: hidden;
      background-color: #0E91EF;
      transition: max-height 0.3s ease-in-out;
    }
    .active + .content {
      max-height: 500px; /* Adjust this value based on your content's maximum height */
      border: solid 1px #000000;
      
    }
    .active {
        border-bottom: none;
        margin-bottom: 0;
    }
    </style>
    <script>
        // Vælg collapsible
        const coll = document.querySelectorAll(".collapsible");
    
        // Når man klikker på hvert element, funktionen bliver aktiv og laver "toggle"
    coll.forEach(element=>{
        element.addEventListener("click", function() {
            element.classList.toggle("active");
            
        })
    
    })
    </script>