<div class="container-box">
    <h2>Schedule your visit - Accessibility</h2>
    <!-- Kode til FAQ dropdown -->
    <div class="container">
    <button type="button" class="collapsible">Map & App<span class="icon"></span></button>
    <div class="content">
      <p>Each year, a map of the light installations is released in January, up to the festival’s start in February. The festival prepares routes in different lengths, from approx. 2-10 km. In this way, you can find the path between the works that suits you best – via the map and / or the routes.
  App
During the festival you can use the app Copenhagen Light Festival – Within10Minutes. Here you can see where the works are in relation to where you are, read and hear about works and artists, switch routes on and off, or find your own path between the works.
Appstore
Google Play
The festival’s lighting installations are primarily located in Copenhagen’s Inner City.</p>
    </div>

    <button type="button" class="collapsible">Parking<span class="icon"></span></button>
    <div class="content">
      <p>Find parking zones and info about prices, etc. here: Parking zones in Copenhagen
Electric cars, hydrogen cars and electric motorcycles can park for free at street level on public parking spaces</p>
    </div>


    <button type="button" class="collapsible">Public transport<span class="icon"></span></button>
    <div class="content">
      <p>Many trains, metro and buses take you to the festival in Copenhagen’s Inner City in February, depending on where you come from.
The festival’s works are not located in the same places every year, but always primarily in the Inner City. Therefore, it will typically be an opportunity to get off at metro stations such as: Kongens Nytorv, Gammel Strand, Christianshavns Torv, Nørreport and Rådhuspladsen.
Info about public transportation: busses, trains, metro</p>
    </div>

    <button type="button" class="collapsible">If you have a physical handicap<span class="icon"></span></button>
    <div class="content">
      <p>The lighting installations at Copenhagen Light Festival are mostly located in Copenhagen’s public streets and squares, and are therefore generally accessible along ordinary sidewalks, etc. It may happen that light installations are located in places where wheelchairs and the like do not have access, e.g. by steps up or down. We generally aim to place the installations in accessible areas and with visibility from several angles.
The lighting installations at Copenhagen Light Festival are not located in the same places every year.
Motorists with a disabled parking permit can park for free in public car parks in Copenhagen. Apply for a disabled parking permit here.</p>
    </div>

    <button type="button" class="collapsible">Toilet facilities<span class="icon"></span></button>
    <div class="content">
      <p>See a map of the public toilets in Copenhagen here: https://www.kk.dk/toiletter</p>
    </div>

    </div>



    <h2>Free to attend</h2>
    <div class="container">
    <button type="button" class="collapsible">Do I need to buy a ticket?<span class="icon"></span></button>
    <div class="content">
      <p>Copenhagen Light Festival is free and no ticket must be purchased.</p>
    </div>

    <button type="button" class="collapsible">How to avoid fake tickets<span class="icon"></span></button>
    <div class="content">
      <p>Unfortunately, we have experienced fake Facebook pages and profiles offer ticket sales. It is important that you do not accept this and never pass on your credit card information. Copenhagen Light Festival is free and there are no ticket sales </p>
    </div>

    </div>

    <h2>Sustainability</h2>
    <div class="container">
    <button type="button" class="collapsible">Green energy<span class="icon"></span></button>
    <div class="content">
      <p>Ørsted is the sponsors of green electricity for the festival. It ensures green wind energy for the overall energy draw during the festival.</p>
    </div>
</div>


 <h2>Other qeuestions</h2>
    <div class="container">
    <button type="button" class="collapsible">Who organize the festival?<span class="icon"></span></button>
    <div class="content">
      <p>The festival is an association founded by Tivoli, Stromma, VNR.tv and Louis Poulsen. With Copenhagen as a backdrop the association seeks to introduce and present light art in interaction with the city’s distinctiveness, darkness and aesthetics.
The daily work on the festival is done by the secretariat who assists the board, collaborates with artists and hosts and supports the curatorial committee in their work with the festival program.
The members of the curatorial committee will change each year and are appointed by the board. The committee allocate the association’s funds to projects, artists and hosts on the basis of an assessment of the festival’s overall expression, the location of the art piece, and interaction with the city and the other art pieces.</p>
    </div>

    <button type="button" class="collapsible">What happens with the light installations when the festival is over?<span class="icon"></span></button>
    <div class="content">
      <p>The lighting installations at the festival are typically developed, installed and maintained by the artists behind it, and it is mostly the artists themselves who own the work and therefore those who take the work up and down at the festival, and store it. </p>
    </div>

     <button type="button" class="collapsible">Do I need to arrive at a certain timeframe<span class="icon"></span></button>
    <div class="content">
      <p>The festival’s lighting installations are typically switched on between 17 and 22.30 o’clock (5-10.30 pm) every night during the festival period, in February.
Some installations have a slightly longer or shorter ignition time. In that case, it will appear in the program on the website and the app. </p>
    </div>

     <button type="button" class="collapsible">Should I begin a certain place?<span class="icon"></span></button>
    <div class="content">
      <p>The festival does not have a fixed starting point. Depending on each year’s festival, the works and their location will vary and hence there will typically be one or more natural starting points. </p>
    </div>

     <button type="button" class="collapsible">Can I experience the Festival from my car?<span class="icon"></span></button>
    <div class="content">
      <p>The festival is generally best experienced by foot or bicycle.
Several of the works are located in squares and the like, where there is no access for cars. That said, you can of course drive around and have a glance at the installations. We recommend that you take a trip by foot, bike or the like.. </p>
    </div>

 <button type="button" class="collapsible">Can I buy Copenhagen Light Festival merchandise?<span class="icon"></span></button>
    <div class="content">
      <p>TWe do not sell merchandise – yet. </p>
    </div>


     <button type="button" class="collapsible">Who do I contact if I observe damage or the like of a light installation?<span class="icon"></span></button>
    <div class="content">
      <p>It can happen that a work suddenly goes out, for various reasons. The works stand outside for a relatively long period (3 weeks), in a typically very cold month. It places special demands on the technique behind a lighting installation, and it can happen that the power goes off for a period of time.
It rarely happens that a wire or the like is destroyed. If you see a case like this you are welcome to write to info@copenhagenlightfestival.org or call +45 25556604.
The artists, hosts and the festival itself constantly keep an eye on the works, and that everything is as it should be. </p>
    </div>

</div>

<style>
    .container-box {
        background-color: #3B507C;
    margin: 10cqw;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    height: 100%;
    }
    .collapsible .icon::before {
      content: "+";
      display: inline-block;
      margin-right: 10px;
    }
    
    .collapsible.active .icon::before {
      content: "-";  
      margin-right: 10px;
    }
    .container {
        padding: 20px;
    }
        /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        display: flex;
    justify-content: space-between;
        background-color: #3B507C;
      color: #E1E2E6;
      cursor: pointer;
      padding: 18px;
      margin-top: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 20px;
      transition: background-color 0.3s ease-in-out;
      border: solid 1px rgb(51, 129, 212);
      border-radius:8px;
      margin-bottom: 0;
    }
    .collapsible:hover, .active {
    color: #ffffff;
      animation-name: glow;
      animation-iteration-count: infinite;
      box-shadow: 0 0 15px rgb(51, 129, 212);
      text-shadow: 0 0 5px #f0f0f0;
      background-color: rgba(51, 129, 212, 0.5);
      transition: background-color 0.15s ease-in-out;
    }
    .collapsible.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
    }
    .content {
    max-height: 0;
      padding: 0 18px;
      overflow: hidden;
      background-color: #0E91EF;
      transition: max-height 0.3s ease-in-out;
      border-radius: 8px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .active + .content {
      max-height: 500px; /* Adjust this value based on your content's maximum height */
      border: solid 1px rgb(51, 129, 212);
    }

    </style>
    <script>
        // Vælg collapsible
        const coll = document.querySelectorAll(".collapsible");
    
        // Når man klikker på hvert element, funktionen bliver aktiv og laver "toggle"
    coll.forEach(element=>{
        element.addEventListener("click", function() {
          //  setTimeout(()=>{element.classList.toggle("active")},1000)
            element.classList.toggle("active");
            
        })
    
    })
    </script>