<footer>
  <div>
    <h3>Contact</h3>
    <h4>Mail</h4>
    <p>info@copenhagenlightfestival.org</p>
    <h4>Phonenumber</h4>
    <p>+45 25556604</p>
  </div>
  <div>
    <div class="footer">
      <h4>Address</h4>
    </div>
    <p>Toldbodgade 39, 1253 København K</p>
  </div>
</footer>

<style>
  footer {
    padding-bottom: 15px;
    padding-top: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    margin-bottom: 0;
  }
  footer p {
    margin: 0;
    line-height: 1.5;
  }
  footer h3 {
    font-size: 28px;
  }
</style>
