<footer>
    <div>
    <h3>Kontakt</h3>
    <h4>Mail</h4>
    <p>info@copenhagenlightfestival.org</p>
    <h4>Mobil</h4>
    <p>+45 25556604</p>
    </div>
    <div><div class="footer">
    <h4>Adresse</h4>
    </div>
    <p>Toldbodgade 39, 1253 København K</p>
    </div>
</footer>

<style>
footer {
    margin: 10cqw;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  footer p {
    margin: 0;
    line-height: 1.5;
  }
  footer h3 {
    font-size: 28px;
  }
  </style>