<div class="forsidebillede">
  <h1>Copenhagen Light Festival</h1>
  <img src="../../public/img/Forsidebillede.jpg" />
</div>

<style>
  .forsidebillede {
    width: 100%;
    height: auto;
    position: relative;
  }

  .forsidebillede img {
    width: 100%;
  }

  .forsidebillede h1 {
    position: absolute;
    z-index: 1;
  }

  h1 {
    display: block;
    font-size: 58px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    left: 25%;
    right: 25%;
    top: 40%;
  }
</style>
