---

---
<!-- HTML -->
<!-- Tekstbox - Hvornår, hvor & hvordan -->
<div class="Tekstbox">
    <div class="Indhold1">
        <h1>When</h1>
        <p>In three weeks og February the festival presents a wide range og light based works.</p>
    </div>

    <div class="Indhold2">
        <h1>Where</h1>
        <p>The festival’s lighting installations are primarily located in Copenhagen’s Inner City.</p>
    </div>

    <div class="Indhold3">
        <h1>How</h1>
        <p>The festival is free to attend</p>
    </div>
</div>


<div class="App">
    <div class="AppTekst1">
        <h1>Use the app</h1>
        <p>During the festival you can use the app Copenhagen Light Festival – Within 10 Minutes. Here you can see where the works are in relation to where you are, read and hear about works and artists, switch routes on and off, or find your own path between the works.</p>
    </div>

    <div class="AppTekst2"> 
        <h2>Download here</h2>
        <a href="https://apps.apple.com/dk/app/indenfor10minutter/id1258241928?l=da" target="_blank"><h4 class="DownloadKnap">Download</h4></a>
    </div>
</div>

<!-- Styling -->

<style>
/* Mobil view */
.Tekstbox {
    line-height: 1.5;
    text-align: center;
    background-color: hsla(0, 0%, 85%, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Indhold1 {
    padding: 20px;
}

.Indhold2 {
    padding: 20px;
}

.Indhold3 {
    padding: 20px;
}

.App {
    line-height: 1.5;
    text-align: center;
    background-color: #3B507C;
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.AppTekst1 {
    padding: 20px;
}

.AppTekst2 {
    padding: 20px;
}

.DownloadKnap {
    background-color: rgb(255, 71, 89);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 120px;
}

/* Desktop view */
@media (min-width: 800px) {
.Tekstbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Tekstbox {
    line-height: 1.5;
    text-align: center;
    background-color: hsla(0, 0%, 85%, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Indhold1 {
    padding: 20px;
}

.Indhold2 {
    padding: 20px;
}

.Indhold3 {
    padding: 20px;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.App {
    line-height: 1.5;
    text-align: center;
    background-color: #3B507C;
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.AppTekst1 {
    padding: 20px;
}

.AppTekst2 {
    padding: 20px;
}

.DownloadKnap {
    background-color: rgb(255, 71, 89);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    margin-left: 340px;
    width: 120px;
}
}
</style>
